# Exemption Dir
#------------------------

# Exemption File
#------------------------
.DS_Store

# IDE Files
#-------------------------
.idea/

# ETC Files
#-------------------------
index.php

# Vendor
#-------------------------
/vendor